body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container {
    width: 100%;
    height: auto;
    background-color: #FFF;
}

.nav-container {
    padding: 0 95px;
    height: 54px;
    width: 1600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    width: 108px;
    height: 23px;
}

.left-nav {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 1045px;
    height: 54px;
    margin-left: 70px;
}

.left-navbar-list {
    display: flex;
    justify-content: left;
    align-items: center;
}

.left-navbar-list-item {
    list-style: none;
    padding: 15px;
}

.nav-link {
    text-decoration: none;
    color: #262626;
    font-weight: 400;
    line-height: 1.5;
    font-size: 14px !important;
    font-family: "Segoe UI",SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.nav-link:hover {
    border-bottom: 2px solid #262626;
}

.right-nav {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 520px;
    height: 54px;
}

.right-navbar-list {
    display: flex;
    justify-content: left;
    align-items: center;
}

.right-navbar-list-item {
    list-style: none;
    padding: 15px;
    height: 54px;
    display: flex;
    justify-content: left;
    align-items: center;
}

.header-icon {
    margin-left: 5px;
    font-size: 16px;
    font-weight: lighter;
}

.win-container {
    width: 100%;
    height: 600px;
    background: url("/images/win11.jpg");
    position: relative;
}

.win-text-container {
    width: 90%;
    height: 350px;
    position: absolute;
    top: 150px;
}

.win-text-header {
    font-size: 2.1rem;
    color: #fff!important;
    font-family: "Segoe UI",SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.text-card {
    width: 437px;
    height: 244px;
    margin-left: 180px;
}

.win-text {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    font-family: "Segoe UI",SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.win-btn {
    background-color: #0067b8;
    color: #fff;
    font-family: "Segoe UI",SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 600;
    border: 0.125rem solid transparent;
    border-radius: 0.125rem;
    text-decoration: none;
    padding: 0.625rem 0.75rem;
    margin-top: 1rem;
    display: inline-block;
}

.win-btn:hover {
    background-color: #0067a9;
}

.slide-controllers {
    width: 100%;
    height: auto;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider-icons {
    font-size: 2.2rem;
    margin-right: 20px;
    cursor: pointer;
}

.dot {
    font-size: 0.75rem;
    cursor: auto;
}

.content-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
}

.content-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 40px;
}

.content-img {
    width: 40px;
    height: 40px;
}

.content-link {
    font-family: "Segoe UI",SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #0067b8;
    font-weight: 600!important;
    margin-top: 10px;
}

.box-container {
    width: 1700px;
    height: 450px;
    margin-top: 100px;
    padding: 0 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.content-card {
    width: 406px;
    height: 408px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
}

.content-card-img {
    width: 382px;
    height: 214px;
}

.content-card-header {
    font-family: "Segoe UI",SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 600;
    line-height: 1.2;
    font-size: 1.8rem;
}

.content-card-text {
    word-break: keep-all;
    box-sizing: border-box;
    word-wrap: break-word;
    font-family: "Segoe UI",SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #000;
}

.button-control {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    height: 10px;
}

.content-card-link {
    box-sizing: border-box;
    font-family: "Segoe UI",SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1rem;
    font-weight: 600;
    color: #0067b8;
    text-decoration: none;
}

.content-card-link:hover {
    margin-right: 5px;
    transition: all 500ms;
}

.content-icon {
    font-size: 16px;
    color: #0067b8;
    margin-left: 5px;
}

.out-container {
    width: 1700px;
    height: 600px;
    margin-top: 100px;
    padding: 0 100px;
    background: url("/images/phone-bg.webp");
    position: relative;
}

.out-content-container {
    position: absolute;
    width: 475px;
    height: 230px;
    top: 200px;
}

.out-header {
    font-weight: 600;
    font-family: "Segoe UI",SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 1.2;
    font-size: 2.4rem;
}

.out-text {
    font-family: "Segoe UI",SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.out-link {
    background-color: #0067b8;
    color: #fff;
    font-family: "Segoe UI",SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 600;
    border: 0.125rem solid transparent;
    border-radius: 0.125rem;
    text-decoration: none;
    padding: 0.625rem 0.75rem;
    margin-top: 1rem;
    display: inline-block;
}

.out-link:hover {
    background-color: #0067a9;
}

.news {
    margin-top: 100px;
    margin-left: 100px;
    display: flex;
}

.news-text {
    font-family: "Segoe UI",SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
    display: inline-block;
    margin-right: 35px;
    margin-left: 15px;
}

.news-icons {
    font-size: 20px;
    margin-right: 15px;
    color: #000;
}

.news-container {
    width: 700px;
}

.footer-container {
    width: 1700px;
    height: auto;
    padding: 0 100px;
    margin-top: 50px;
    background-color: #f2f2f2;
}

.footer-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 1700px;
    height: 400px;
}

.menu-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
}

.menu-list-item {
    margin-top: 10px;
}

.menu-header {
    color: #616161;
    font-family: "Segoe UI",SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 15px;
}

.menu-link {
    text-decoration: none;
    color: #616161;
    font-size: 11px;
    line-height: 16px;
    font-family: "Segoe UI",SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.menu-link:hover {
    border-bottom: 1px solid #616161;
}

.language-link {
    margin-left: 5px;
}

.last-menu-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: flex-end;
}

.footer-last {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -50px;
}

.last-menu-item {
    margin-left: 10px;
}

.back-button {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.back-btn {
    text-decoration: none;
    padding: 10px;
    background-color: #909090;
    color: #000;
    font-family: "Segoe UI",SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
}

.back-btn:hover {
    background-color: #eee;
}